root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.{c,cc,cpp,cxx,h,hh,hpp,hxx,asm,inc,rc}]
end_of_line = crlf

[*.{py,md}]
end_of_line = lf
